<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
    <title>忘记密码</title>
    <link rel="icon" href="/image/title.ico"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/forget/forgetPassword.css">
</head>
<script src="../../static/js/jquery-3.0.0.js"></script>
<script src="../../static/js/forget/forgetPassword.js"></script>
<body>
<div style="display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            min-height: 100%;
            padding: 20px;
            background: rgba(4, 40, 68, 0.85);">
<div class="main">
    <div>
        <header class="header" style="padding-top: 40px;">
            <!--<br/>
            <br/>
            <br/>
            <br/>-->
            <ul>
                <li>
                    <span class="current-num">
                        1
                    </span>
                    <span class="current">
                        验证手机号码
                    </span>
                </li>
                <img src="../../static/image/right.png" style="margin-left: -20px; margin-right: 30px;"/>
                <li class="c">
                    <span class="number">
                        2
                    </span>
                    	填写密码
                </li>
                <img src="../../static/image/right.png"  style="margin-left: -40px; margin-right: 20px;"/>
                <li class="c">
                    <span class="number">3</span>找回成功
                </li>
            </ul>
        </header>
        <div class="register">
            <form action="forget2" method="post" class="form" id="form2">
                <input type="hidden" name="token" th:value="${token}"/>
                <div style="margin: 10px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;手机号码：
                    <input type="tel" class="phone" id="phone" placeholder="请输入手机号码" autofocus="autofocus" name="phone"/>
                </div>
                <div id="toolphone" class="toolphone" style="color: red;display: none;margin-left: 130px; font-size: 8px; letter-spacing: 2px;">请输入正确的手机号码</div>
                <div class="toolphone2" style="color: red;display: none;margin-left: 130px; font-size: 8px; letter-spacing: 2px;">该用户不存在</div>
                <div style="margin: 10px;">图片验证码：
                    <input type="text" class="photo" id="photo" placeholder="请输入验证码" name="photo"/>
                    <!--<img alt="" src="image.jsp" id="identity" align="absmiddle"/>-->
                    <span>7834</span>
                    <a href="javascript:loadimage();" class="chang-code" id="btn">
                        <span style="color: gray; font-size: 16px;">看不清？换一张</span>
                    </a>
                </div>
                <div id="toolphoto" class="toolphoto" style="color: red;display: none;margin-left: 130px; font-size: 8px; letter-spacing: 2px;">图片验证码错误</div>
                <div class="toolphoto2" style="color: red;display: none;margin-left: 130px; font-size: 8px; letter-spacing: 2px;">图片验证码不能为空</div>
                <div style="margin: 10px;">
                    手机验证码：
                    <input type="text" class="code-phone" id="code_phone" placeholder="请输入验证码" name="code_phone"/>
                    <input type="button" class="get" value="发送验证码" id="get"/>
                </div>
                <div id="toolnum" class="toolnum" style="color: red;display: none;margin-left: 130px; font-size: 8px; letter-spacing: 2px;">手机验证码错误</div>
                <div class="toolnum2" style="color: red;display: none;margin-left: 130px; font-size: 8px; letter-spacing: 2px;">手机验证码不能为空</div>
                <input type="button" class="next" value="下一步"/>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
