<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${movie.getData().getMovieDetailModel().getNm()}+'(瓢虫微生活)'">详情</title>
    <link rel="stylesheet" href="/css/movieInformation.css"/>
    <link rel="stylesheet" href="/css/all.css"/>
    <link href="/image/logo1.PNG" rel="icon"/>
    <script src="/js/jquery-3.0.0.js"></script>
    <script src="/js/layer.js"></script>
</head>
<script src="/js/all.js"></script>
<script src="/js/home/home.js"></script>
<!--<script src="/js/information/movieInformation.js"></script>-->
<body>
<header th:include="header :: copy"></header>
<link rel="stylesheet" href="/css/aside.css"/>
<script src="/js/aside/aside.js"></script>
<script src="/js/jQueryUI/jquery.ui.core.js"></script>
<script src="/js/jQueryUI/jquery.ui.widget.js"></script>
<script src="/js/jQueryUI/jquery.ui.position.js"></script>
<script src="/js/jQueryUI/jquery.ui.menu.js"></script>
<script src="/js/jQueryUI/jquery.ui.autocomplete.js"></script>
<div class="all_content" style="">
    <main>
        <div>
            <div class="all_movie" th:with="m=${movie.getData().getMovieDetailModel()}">
                <h1 th:text="${m.getNm()}">WSK</h1>
                <div class="movie_cover">
                    <img th:src="${m.getImg()}" class="movie_img"
                         th:title="${m.getNm()}" alt="加载中......"/>
                </div>
                <div style="padding: 1em 1em 0 1em;">
                    <!--<div><span class="movie_show">电影名</span>：-->
                    <!--<div th:text="${subject.getTitle()}" class="movie_font"></div>-->
                    <!--</div>-->
                    <div><span class="movie_show">导 &nbsp;演</span>：
                        <div th:text="${m.getDir()}" class="movie_font">
                        </div>
                    </div>
                    <div><span class="movie_show">主 &nbsp;演</span>：
                        <div th:text="${m.getStar()}" class="movie_font" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;">
                        </div>
                    </div>
                    <div><span class="movie_show">类 &nbsp;型</span>：
                        <div th:text="${m.getCat()}" class="movie_font">
                        </div>
                        <div><span class="movie_show">2 &nbsp;/3D</span>：
                            <div th:text="${m.getVer()}" class="movie_font"></div>
                        </div>
                        <div><span class="movie_show">地 &nbsp;区</span>：
                            <div th:text="${m.getSrc()}" class="movie_font"></div>
                        </div>
                        <div><span class="movie_show">评 &nbsp;分</span>：
                            <div th:text="${m.getSc()}" class="movie_font">
                            </div>
                        </div>
                        <div><span class="movie_show">上映时间</span>：
                            <div th:text="${m.getRt()}" class="movie_font">
                            </div>
                        </div>
                        <div><span class="movie_show">想看人数</span>：
                            <div th:text="${m.getWish()}" class="movie_font">
                            </div>
                        </div>
                        <div style="padding: 1.5em"><span class="movie_show"></span>
                            <!--<a th:href="'/cinemas/'+${movie.getData().getMovieDetailModel().getId()}"><button id="booking">网上订票</button></a>-->
                            <a th:id="${movie.getData().getMovieDetailModel().getId()}" onclick="window.open('http://maoyan.com/cinemas?movieId='+id)"><button id="booking">猫眼订票</button></a>
                        </div>
                    </div>
                </div>
                <div class="movie_desc" style="padding: .5em 1em">
                    <div style="display: inline-block" class="movie_show">简 &nbsp;介：</div>
                    <div th:utext="${m.getDra()}"
                         style="display: inline"></div>
                </div>
                <div >
                        <tr>
                            <th>用户名</th>
                            <th>用户简介</th>
                        </tr>
                            <!--<div th:each="o:${userInformationList}">
                                <div><img th:src="${o.getAvatar()}"/></div>
                                <div th:text="${o.getName()}"></div>
                                <div th:text="${o.getAutograph()}"}></div>
                            </div>-->
                    <ul th:each="o:${userInformationList}">
                        <li th:text="${o.getName()}" th:value="${o.getId()}" class="my_friends_li" th:title="${o.getName()}">wsk1103</li>
                        <span class="show_my_friends_btn" style="float: right">+</span>
                        <li class="my_friends_btn">
                            <div>
                                <button class="my_friends_close" th:value="${o.getId()}" title="unsubscribe">×关注</button>
                                <button class="my_friends_message" th:value="${o.getId()}">◇私信</button>
                                <button class="my_friends_information" th:value="${o.getId()}">⊙详情</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--热门短评-->
            </div>
        </div>
    </main>
    <aside th:include="aside :: aside"></aside>

</div>
<footer>
    <div>
        <button class="go_to_top" value=""></button>
    </div>
</footer>
</body>
